*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --primary:#009FFF;
    --secondary: #FFAE42;
    --gray: gray;
    --white: white;
    --dark: #121221;
}
header{
    background-color: var(--secondary);
    position: sticky;
    top: 3.375rem;
    z-index: 1;
}
header form select{
    margin-top: 0.6rem;
    width: 100%;
    padding: 0.7rem 0.5rem;
}
article{
    padding: 0 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.188rem rgb(0 0 0 / 15%);
    transition: box-shadow 0.35s ease-in-out;
    border: 0.063rem solid var(--primary);
}
article:hover{
    box-shadow: 0 0 1.875rem rgb(0 0 0 / 17%);
}
article:hover img{
    transform: scale(1.15);
}
article:hover .btn{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
article .wrap-img{
    background-color: var(--white);
    margin-bottom: 2rem;
    border-radius: 50rem;
    overflow: hidden;
    width: 11.25rem;
    height: 11.25rem;
    position: relative;
    bottom: 3rem;
    border: 0.125rem solid var(--primary);
}
article .wrap-img img{
    transition: all 0.4s ease;
}
article div{
    position: relative;
    bottom: 2.5rem;
    width: 80%;
}
article p{
    margin-top: .65rem;
}
article .btn{
    border: 1px solid transparent;
    background-color: var(--primary);
    padding: .7rem 1.5rem;
    margin-top: .9rem;
    font-weight: bold;
    width: 9rem;
}
footer{
    background-color: var(--primary);
}
footer nav{
    margin-bottom: .4rem;
}
main{
    gap: 4.2rem 1.5rem;
    padding: 4.5rem 1.1rem;
}

#site-content{
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    min-height: 100vh;
}
.sidebar, header, footer{
    padding: .85rem;
}
.sidebar{
    background-color: var(--primary);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.sidebar .logo{
    font-weight: bold;
    letter-spacing: .15rem;
}
.sidebar .logo h1{
    vertical-align: middle;
    font-size: 1.2rem;
}
.sidebar .logo i{
    margin-right: .3rem;
    vertical-align: text-top;
}
.sidebar button{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    width: 2rem;
    height: 2rem;
}
.sidebar nav ul{
    list-style-type: none;
}
.sidebar nav ul li a{
    padding: .7rem .5rem;
}
.sidebar nav ul li a:hover{
    color: var(--dark);
}
.pagination{
    justify-content: center;
    grid-column-start: 1;
}
.pagination ul{
    list-style-type: none;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.pagination a{
    display: inline-block;
    padding: .85rem;
    color: var(--primary);
    border-right: 1px solid var(--primary);
    text-decoration: none;
}
.pagination a:hover,
.pagination a.active{
    background-color: var(--primary);
    color: var(--white);
}

.pagination li:last-child a{
    border: none;
}

/**/
header form select,
article,
article .btn{
    border-radius: 0.25rem;
}
header form, 
article .btn, footer, 
footer a, 
.sidebar .logo, 
.sidebar button, 
.sidebar nav ul li a{
    color: var(--white);
}
/**/

/*utilities*/
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.d-inline-block{
    display: inline-block;
}
.text-center{
    text-align: center;
}
.text-decoration-none{
    text-decoration: none;
}
.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}
/*utilities*/

/*Media*/
@media (min-width:576px){
    header{
        grid-area: header;
        position: static;
    }
    header form{
        position: sticky;
        top: 5rem;
    }
    footer{
        grid-area: footer;
        z-index: 1;
    }
    main{
        grid-area: main;
        grid-template-columns: auto auto;
    }
    #site-content{
        grid-template-areas:
        'sidebar sidebar' 
        'header main' 
        'footer footer';
        grid-template-columns: 11.25rem auto;
    }
    .sidebar{
        grid-area: sidebar;
    }
    .sidebar button{
        display: none;
    }
    .sidebar nav{
        display: block;
    }
    .pagination{
        grid-column-end: 3;
    }
}

@media (min-width:768px){
    main{
        grid-template-columns: auto auto auto;
    }
    .pagination{
        grid-column-end: 4;
    }
}

@media (min-width:992px){
    main{
        grid-template-columns: repeat(4, auto);
    }
    header{
        top:0;
    }
    footer{
        background-color: var(--secondary);
        z-index: 2;
    }
    #site-content{
        grid-template-areas:
        'sidebar header'
        'sidebar main'
        'footer main';
        grid-template-rows: min-content auto min-content;
    }
    .sidebar{
        justify-content: flex-start;
        flex-direction: column;
    }
    .sidebar .logo{
        top: 1rem;
    }
    .sidebar nav{
        top: 2rem;
    }
    .sidebar nav ul{
        flex-direction: column;
        margin-top: 2rem;
    }
    header, 
    .sidebar .logo, 
    .sidebar nav{
        position: sticky;
    }
    .pagination{
        grid-column-end: 5;
    }
}
/*Media*/